@media only screen and (max-width: 1240px){
    /* Skill */
    .skill_container{
        flex-wrap: wrap;
    }

}
@media only screen and (max-width: 500px){
    /* Presentation */
    #presentation{
        height: 120vh;
    }
        
        #presentation img{
            height: 50vh;
            right: 12vw;
        }

        #description{
            position: absolute;
            left: 1%;
            margin-top: 30vh;
            width: 100%;
        }
    
    /* Career path */
    #career_path{
        height: 50vh;
    }
    
        .circle, .vertical_line, .career_line{
            display: none;
        }
        .bac .vertical_line{
            display: block;
            height: 600px;
            margin-top: 150px;
        }
            .licence, .bac, .bts{
                position: absolute;
                inset: 0;
                margin: auto;
            }

            .bac{
                top: -400px;
            }
                .date_bac{
                    top: 110px;
                    right: 80px;
                }
            
            .licence{
                top: 340px;
            }
                .date_licence{
                    top: -355px;
                    right: 80px;
                }
            .bts{
                top: 175px;
            }
                .date_bts{
                    top: 110px;
                    right: 80px;
                }
        
        /* Modal */
        .modal #option{
            display: flex;
            flex-wrap: wrap;
        }

    /* Pro exp */
    .flip_card{
        height: 1050px;
    }

        .exp_card_front img{
            width: 80vw;
        }

        .exp_card_back p, .exp_card_back h4, .exp_card_back li ul li{
            margin: 0px 30px 0px 30px;
        }

    /* Footer */
    #contact img{
        margin: 180px 3vw 0 3vw;
    }
}

@media only screen and (max-width: 439px){
    /* Footer */
    #contact img{
        margin: 180px 2vw 0 2vw;
    }
}