@media only screen and (max-width: 1240px){
    /* Skill */
    .skill_container{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1024px){
    .bac{
        margin-left: 10%;
    }

    .licence{
        margin-left: 26%;
    }

    .bts{
        margin-left: 44%;
    }

    .future{
        margin-left: 62%;
    }
}

@media only screen and (max-width: 850px){
    /* Career path */
    #career_path{
        height: 70vh;
    }
    
        .circle, .vertical_line, .career_line{
            display: none;
        }

        .bac .vertical_line{
            display: block;
            height: 900px;
            margin-top: 150px;
        }

            .licence, .bac, .bts, .future{
                position: absolute;
                inset: 0;
                margin: auto;
            }

            .bac{
                top: -400px;
            }

                .date_bac{
                    top: 110px;
                    right: 80px;
                }

            .bts{
                top: 175px;
            }

                .date_bts{
                    top: 110px;
                    right: 80px;
                }

            .licence{
                top: 340px;
            }

            .future{
                top: 920px;
            }

                .date_down{
                    top: -355px;
                    right: 80px;
                }


}

@media only screen and (max-width: 500px){
    /* Presentation */
    #presentation{
        height: 120vh;
    }
        
        #presentation img{
            height: 50vh;
            right: 12vw;
        }

        #description{
            position: absolute;
            left: 1%;
            margin-top: 30vh;
            width: 100%;
        }

    /* Career path */
    /* Modal */
    .modal #option{
        display: flex;
        flex-wrap: wrap;
    }

    /* Pro exp */
    .flip_card{
        height: 910px;
        width: 100vw;
        margin: 50px auto 0px auto;
    }

        .exp_card_front img{
            width: 80vw;
        }

        .exp_card_back p, .exp_card_back h4, .exp_card_back li ul li{
            margin: 0px 30px 0px 30px;
        }

        .exp_card_back p, .exp_card_back h4, .exp_card_back li{
            font-size: 16px;
        }

    /* Footer */
    #contact img{
        margin: 180px 3vw 0 3vw;
    }
}

@media only screen and (max-width: 439px){
    /* Footer */
    #contact img{
        margin: 180px 2vw 0 2vw;
    }
}