/* Production */
#description_art, #article_container{
    text-align: justify;
    width: 1000px;
    margin: 0px auto 0px auto;
}

    #description_art h1{
        font-size: 48px;
        text-align: center;
        padding: 30px;
    }

    #description_art h2{
        font-size: 24px;
        margin-left: 2px;
    }

    .description_container{
        background-color: #3c285e;
        box-shadow: #65439c 0px 0px 5px 0px, #65439c 0px 0px 1px 0px;
        border-radius: 5px;
        margin: 10px;
        padding: 15px;
    }

        .description_container > ul > li{
            list-style: inside;
            list-style-position: outside;
            margin-left: 75px;
        }

        .description_container h2{
            margin: 5px;
        }

        #description_part{
            display: flex;
        }

                #description_left, #description_right{
                    width: 500px;
                }

                .description_container li li{
                    list-style: circle;
                    margin-left: 75px;
                }

                .description_container #bold{
                    color: #ffffff;
                    font-weight: bold;
                    text-decoration: underline;
                }