            /* ALL */
*{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    scroll-behavior: smooth;
}

/* Using the Hammersmith font */
.hammersmith-one-regular {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #1E1E1E;
    color: #ffffff;
}

/* h1 for section */
.bg_title{
    font-size: 10vh;
    font-weight: bold;
    opacity: .1;
    position: absolute;
    margin: auto;
    inset: 0;
}

h2{
    margin: 3vh;
    font-size: 6vh;
}


/* HEADER */
header img{
    position: fixed;
    left: 10px;
    z-index: 10;
}

/* HEADER / NAVIGATION */
header img, nav img{
    width: 40px;
    top: 10px;
    cursor: pointer;
    opacity: .5;
    transition: ease-in-out .3s;
}

nav img:hover, header img:hover{
    opacity: 1;
}

/* NAVIGATION*/
/* Menu */
nav{
    background-color: #0E0E0E;
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 100;
    transition: all .5s;
    left: -300px;
}
    nav img{
        position: absolute;
        right: 10px;
        z-index: 200;
    }

    li{
        list-style: none;
    }

        li a{
            color: #ffffff;
            font-family: "Inter";
            text-decoration: none;
            font-size: 20px;
            padding: 20px;
            display: block;
        }

            /* Sub menu */
            #sub_menu{
                display: block;
                height: 0px;
                overflow: hidden;
                transition: all .5s;
            }

            #sub_menu a{
                font-size: 16px;
                padding-left: 50px;
            }

li a:hover{
    background-color: #1F1530;
}

/* Sub menu */
#has_sub_menu:hover #sub_menu{
    height: 180px;
}

#sub_menu a:hover{
    background-color: #1F1530;
    height: 100%;
}


/* MAIN */
main{
    height: 2000px;
}

/* Profile */
/* Presentation */
#presentation{
    height: 120vh;
    background: linear-gradient(#1E1E1E 88%, #573B85 );
}

    #presentation img{
        height: 90vh;
        left: 15vh;
        filter: drop-shadow(#2b1d44 3px 3px 30px);
    }

    #description{
        position: absolute;
        right: 20vh;
        top: 25vh;
    }

        #description h1, #description h2{
            font-size: 8vh;
            margin:8vh;
        }

/* Career path */
#career_path{
    background: linear-gradient(#573B85 88%, #1E1E1E);
    padding: 450px 0px 520px 0px;
    text-align: center;
}

#career_path h2{
    top: -450px;
}

    .card{
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0px 0px 5px #363636;
        padding: 20px;
        color: #0E0E0E;
        width: 250px;
        transition: all .3s;
    }

    .card h3{
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 24px;
    }

        .card li{
            padding: 3px;
            font-size: 18px;
        }

        .card > img{
            width: 96px;
            position: absolute;
            top: -45px;
            right: -48px;
            filter: drop-shadow(0px 0px 3px);
        }

        .sportIcon{
            position: absolute;
            width: 36px;
            right: 30px;
            bottom: -8px;
        }

.card:hover{
    scale: 1.2;
    box-shadow: 0px 0px 15px #363636;
}

/* Career tree */
.abs_elm_centered{
    margin-left: auto;
    margin-right: auto;
    inset: 0;
}

.date{
    font-weight: bold;
    font-size: 20px;
}
        /* Up */
        .date_up{
            top: -50px;
        }
        /* Down */
        .date_down{
            top: 30px;
        }

.career_line{
    width: 80%;
    height: 0;
    inset: 0;
    margin: auto;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.vertical_line{
    position: absolute;
    height: 120px;
    width: 0px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
}

.circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 10;
    top: -8px;
    position: absolute;
}

.start_point{
    left: -8px;
}

.career_point{
    background-color: #FCB222;
    transition: all .3s;
}

.career_point:hover{
    scale: 2;
}

.end_point{
    right: -8px;
}

    /* Bac position elm */
    .bac{
        position: absolute;
        margin-left: 15%;
    }

        /* Bac card */
        .bac_card{
            top: 120px;
        }

    /* Licence position elm */
    .licence{
        position: absolute;
        inset: 0;
        margin: auto;
    }

        .licence_line{
            top: -120px;
        }

        /* Licence card */
        .licence_card{
            top: -345px;
        }

    /* Bac position elm */
    .bts{
        position: absolute;
        margin-left: 63%;
    }

        /* Bts card */
        .bts_card{
            top: 120px;
        }


/* Skills */
#skill{
    height: 1200px;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

#skill h2{
    top: 1.5vw;
    margin-bottom: 200px;
}

    .skill_container{
        display: flex;
        margin: 100px 50px 0px 50px;
    }

        .skill_container h3{
            font-size: 30px;
            font-weight: bold;
            padding: 60px 0px 30px 0px;
        }

        .skill_container p{
            font-size: 20px;
            text-align: justify;
            line-height: 30px;
        }

        .container_left{
            width: 50%;
            text-align: left;
        }

        aside{
            width: 50%;
            text-align: left;
            margin-left: 50px;
        }

            .skill_card{
                background-color: #ffffff;
                border-radius: 5px;
                box-shadow: #573B85 3px 3px 25px;
                display: grid;
                grid-template-columns: repeat(auto-fill, 155px);
                grid-gap: 15px;
                width:700px;
                height: 350px;
                transition: all .5s;
                filter: blur(3px);
            }

            .item{
                padding: 35px;
            }

/* Animation skill card*/
.skill_right{
    transform: perspective(800px) rotateX(10deg) rotateY(25deg) scale(0.9);
    left: -20px;
}

.skill_right:hover{
    transform: perspective(800px) rotateX(10deg) rotateY(-15deg) translateY(-50px) scale(1);
    filter: blur(0);
    opacity: 1;
}

.skill_left{
    transform: perspective(800px) rotateX(10deg) rotateY(-15deg) scale(0.9);
    right: -20px;
}

.skill_left:hover{
    transform: perspective(800px) rotateX(10deg) rotateY(25deg) translateY(-50px) scale(1);
    filter: blur(0);
    opacity: 1;
}