/* Professionnal Experience */
#pro_exp {
  margin: 100px 0px 100px 0px;
  background-color: #3c285e;
  transform: rotate(5deg);
}

#experience {
  transform: rotate(-5deg);
}

#experience h1 {
  top: -3vh;
}

#exp_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Experience card */
.flip-card {
  width: 600px;
  height: 860px;
  margin: 80px auto 0px auto;
}

.exp-card-front,
.exp-card-back {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: #2b1d44 3px 3px 30px;
  color: #000000;
  width: 100%;
  height: 100%;
  text-align: left;
  position: absolute;
  transition: all 0.5s;
  overflow: hidden;
}

/* Front */
.exp-card-front {
  z-index: 1;
  transform: rotateY(0deg);
}

.exp-card-front img {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 25vw;
}

/* Back */
.exp-card-back {
  z-index: 0;
  overflow: hidden;
  transform: rotateY(180deg);
}

.exp-card-back h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 50px;
  text-align: center;
}

.exp-card-back h4 {
  font-weight: bold;
  margin: 10px 50px 10px 50px;
}

.exp-card-back p {
  margin: 0px 50px 0px 50px;
  text-align: justify;
}

.exp-card-back li {
  list-style: circle;
  margin: 0px 70px 0px 70px;
}

.exp-card-back li ul li {
  list-style: inside;
}

.exp-card-back #feloche {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}

.flip-card:hover .exp-card-front {
  z-index: 0;
  transform: rotateY(180deg);
}

.flip-card:hover .exp-card-back {
  z-index: 1;
  transform: rotateY(0deg);
}
